<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginmockups">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Login Mockup"
        android:theme="@style/Theme.LoginMockups">
        <activity
            android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.ResetPasswordActivity"
            android:parentActivityName=".UI.MainActivity"></activity>
        <activity android:name=".UI.LoggedInActivity" />
        <service android:name=".Model.MediaPlayerService"/>
    </application>

</manifest>